{% extends "pages/_base.html" %}
{% block name %}About the election site{% endblock %}
{% block content %}
<p>
  This election website was made by ed588, aka Honk Donk, for the region of Conifer.
  It's actually the second iteration of the site, completely rewritten from the original, mainly
  to make it actually maintainable but also to address several limitations of the original.
  You're currently looking at version {{version}} of the site.
</p>
<p>
  The source code for this site is available <a href='https://github.com/ed588/nselec'>here</a>. It's AGPL licensed,
  and all contributions are
  welcome!
</p>
{% endblock %}