{% extends "pages/_base.html" %}
{% block name %}About the election site{% endblock %}
{% block content %}
<p>
  This election website was made by ed588, aka Honk Donk, for the region of Conifer.
  It's actually the second iteration of the site, completely rewritten from the original, mainly
  to make it actually maintainable but also to address several limitations of the original.
  You're currently looking at version {{version}} of the site.
</p>
{#
<p>
  The source code for this site is available <a href='#'>here</a>. It's AGPL licensed
  so you can make your own version if you want, provided you release the source code under
  the same license if you run a modified version of it over the internet. <i>The above paragraph has
  no legal effect. Please see the License file for formal details for what you can do with this.</i>
</p>
#}
{% endblock %}
