{% extends "admin/new_election/base.html" %}
{% block type%}ranked{% endblock %}
{% block head %}
<script>
  function htmlStringToElement(str) {
    var tmp = document.createElement('div');
    tmp.innerHTML = str.trim();
    return tmp.firstChild;
  }
  function removeElement(element) {
    element.parentElement.removeChild(element)
  }
  function makeDeleteButton(btn) {
    btn.addEventListener("click", function (e) {
      removeElement(this.parentElement.parentElement);
    });
  }
  function addOption() {
    var str = '<div class="field is-grouped">\
    <div class="control">\
      <input class="input" name=opt type=text>\
    </div>\
    <div class="control">\
      <button type="button" class="button"><span class="icon"><i class="fas fa-trash"></i></span></button>\
    </div>\
  </div>';
    var n = htmlStringToElement(str);
    makeDeleteButton(n.children[1].children[0]);
    document.getElementById("options").appendChild(n);
  }
  window.addEventListener("load", function (e) {
    document.getElementById("add").addEventListener("click", addOption);
    makeDeleteButton(document.getElementById("initialdel"));

    var sub = document.getElementById("submit");
    sub.disabled = false;
    sub.classList.remove("is-loading");
  });
</script>
{% endblock %}

{% block description %}
<p>A ranked election has many options.</p>
<p>The voter must put <em>all</em> of these options in an order reflecting their preference.</p>
{% endblock %}

{% block fields %}
<label class="label">Options</label>
<p>Note that the order of the options doesn't matter, they will be randomized when people see them</p>
<div id="options" style="padding-bottom:10px;">
  <div class="field is-grouped">
    <div class="control">
      <input class="input" name=opt type=text>
    </div>
    <div class="control">
      <button id="initialdel" type="button" class="button"><span class="icon"><i class="fas fa-trash"></i></span></button>
    </div>
  </div>
</div>
<div class="field">
  <div class="control">
    <button id="add" type="button" class="button"><span class="icon"><i class="fas fa-plus"></i></span></button>
  </div>
</div>
<br>
{% endblock %}