{% macro msgb(msg, cls="info") %}
<div class="notification is-{{cls}}">
  <button class="delete" onclick="this.parentElement.parentElement.removeChild(this.parentElement)"></button>
  {{ msg }}
</div>
{% endmacro %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %} - Elections</title>
    <link rel="stylesheet" href="{{url_for('static', filename='site.css')}}">
    <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"></script>
    <link rel=icon href="https://conifer.ed588.me/favicon.ico?v">
    {% block head %}{% endblock %}
  </head>
  <body>
  <section class="section">
    <div class="container">
      {% block heading %}
        <h1 class="title">Elections</h1>
      {% endblock %}
      {% for msg in get_flashed_messages(category_filter=["message"]) %}
        {{ msgb(msg) }}
      {% endfor %}
      {% for msg in get_flashed_messages(category_filter=["error"]) %}
        {{ msgb(msg, "danger") }}
      {% endfor %}
      {% for msg in get_flashed_messages(category_filter=["success"]) %}
        {{ msgb(msg, "success") }}
      {% endfor %}
      {% block main %}
      <p>{{ content }}</p>
      <p><a href="{{url_for('index')}}">Click here to go back to the main page</a></p>
      {% endblock %}
    </div>
  </section>
  <footer class="footer">
    <div class="content has-text-centered">
      <p><strong>Conifer Election Site</strong></p>
      <p>
        Made by
        <a href="https://nationstates.net/honk_donk">ed588</a> for the region of
        <a href="https://nationstates.net/region=conifer">Conifer</a>.
      </p>
      <p>
        {% if "user" in session %}
          Logged in as <b>{{session.user}}</b>. <a href="{{url_for('admin.index')}}">Admin Page</a> | <a href="{{url_for('auth.logout')}}">Logout</a>
        {% else %}
          To manage elections, please <a href="{{url_for('auth.login')}}">login</a> first.
        {% endif %}
      </p>
    </div>
  </footer>
  </body>
</html>
