{% macro msgb(msg, cls="info") %}
<div class="notification is-{{cls}}">
  <button class="delete" onclick="this.parentElement.parentElement.removeChild(this.parentElement)"></button>
  {{ msg }}
</div>
{% endmacro %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %} - Elections</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <link rel=icon href="https://conifer.ed588.me/favicon.ico">
  </head>
  <body>
  <section class="section">
    <div class="container">
      {% block heading %}
        <h1 class="title">Elections</h1>
      {% endblock %}
      {% for msg in get_flashed_messages(category_filter=["message"]) %}
        {{ msgb(msg) }}
      {% endfor %}
      {% for msg in get_flashed_messages(category_filter=["error"]) %}
        {{ msgb(msg, "danger") }}
      {% endfor %}
      {% for msg in get_flashed_messages(category_filter=["success"]) %}
        {{ msgb(msg, "success") }}
      {% endfor %}
      {% block main %}{{ content }}{% endblock %}
    </div>
  </section>
  <footer class="footer">
    <div class="content has-text-centered">
      <p><strong>Conifer Election Site</strong></p>
      <p>
        Made by
        <a href="https://nationstates.net/honk_donk">ed588</a> for the region of
        <a href="https://nationstates.net/region=conifer">Conifer</a>.
      </p>
    </div>
  </footer>
  </body>
</html>
